@{
    ViewData["Title"] = "Inicio";
}

<div class="d-flex justify-content-center align-items-center" style="height: 80vh;">
    <div>
        <h3 class="display-4 text-center">Bem vindo(a) ao KriaHub</h3>
        <p class="text-center">Navegue pela plataforma através das abas acima.</p>
    </div>
</div>

